<!DOCTYPE html>
<html lang="en">
<%- include('Components/Header', { title: 'Unicron - Voting'}) %>

<body>
    <%- include('Components/Navbar', { user }) %>
    <%- include('Components/Footer') %>
</body>

</html>