<footer class="mt-5 bind-theme bind-theme-accent footer">
    <div class="row mt-3 mb-0 pb-0">
        <div class="col-auto mx-5 mt-3 mb-4 footer-copyright"> <br>
            <h6>Copyright &copy; 2020 <a href="#" class="text-primary">Unicron Ltd</a>. All rights reserved.</h6>
            <br>
            <a href="//www.dmca.com/Protection/Status.aspx?ID=3112895f-2c75-48f2-ab56-3195968ed7c8" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca-badge-w250-5x1-07.png?ID=3112895f-2c75-48f2-ab56-3195968ed7c8"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
        </div>
        <div class="col-auto mx-5 mt-3 mb-4">
            <h6>Links</h6>
            <ul class="footer-links text-primary">
                <li><a href="/discord" target="_blank">&CenterDot; Official Discord Server</a>
                </li>
                <li><a href="/privacy-policy">&CenterDot; Privacy Policy</a></li>
                <li><a href="/terms-of-service">&CenterDot; Terms of Service</a></li>
            </ul>
        </div>
    </div>
</footer>