<br><br><br><br><br>
<footer class="page-footer blue accent-4 mt-auto pt-0 border-top">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Unicron Bot</h5>
                <p class="grey-text text-lighten-4">
                    A powerful multi-purpose discord bot with a focus on Moderation, Dynamic Text/Voice and more! <br>
                    The administration works very hard to bring you the best of a discord bot.
                    Donating any amount helps us in
                    making more, higher quality content. <br>
                    <br>

                    Unicron Ltd is in no way affiliated with Discord.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text center">Links</h5>
                <ul class="center">
                    <li class="center">
                        <a class="white-text text-lighten-3" href="/terms-of-service">
                            Terms of Service
                        </a>
                    </li>
                    <li class="center">
                        <a class="white-text text-lighten-3" href="/privacy-policy">
                            Privacy Policy
                        </a>
                    </li>
                    <li class="center">
                        <a class="white-text text-lighten-3" href="https://www.patreon.com/unicron">
                            Patreon
                        </a>
                    </li>
                    <li class="center">
                        <a class="white-text text-lighten-3" href="/discord">
                            Official Discord
                        </a>
                    </li>
                    <li class="center">
                        <a class="white-text text-lighten-3" href="https://github.com/unicron-bot">
                            Github Organization
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2020 Unicron Ltd. All rights reserved.
            <p class="right white-text">
                Made by <a class="white-text font-weight-bold" href="https://dsc.bio/undefine">oadpoaw &hearts;</a>
            </p>
            <a href="//www.dmca.com/Protection/Status.aspx?ID=3112895f-2c75-48f2-ab56-3195968ed7c8"
                title="DMCA.com Protection Status" class="dmca-badge"> <img
                    src="https://images.dmca.com/Badges/dmca-badge-w150-5x1-07.png?ID=3112895f-2c75-48f2-ab56-3195968ed7c8"
                    alt="DMCA.com Protection Status" /></a>
            <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
        </div>
    </div>
</footer>