<nav class="blue darken-2" style="z-index: 2000;">
    <div class="nav-wrapper">
        <a href="#" data-target="mobile" class="sidenav-trigger">
            <i class="material-icons right">menu</i>
        </a>
        <a href="/">
            <img class="rounded-circle" style="margin-left: 1rem;max-height: 2.65rem;max-width: 2.65rem;"
                src='/public/img/logo.jpg' />
            <img class="rounded" style="max-height: 4rem;max-width: 9rem;" src="/public/img/text-logo.png" />
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <% if (user) { %>
            <li><a href="/dashboard">Dashboard</a></li>
            <% } %>
            <li><a href="/commands">Commands</a></li>
            <li><a href="/coming-soon">Wiki</a></li>
            <li><a href="/coming-soon">Voting</a></li>
            <% if (!user) { %>
            <li>
                <a href="/oauth/login" class="waves-effect waves-light btn blue hoverable">Login <img
                        style="max-width: 1.3rem; height: 1.3rem;" src='/public/img/discord_logo.svg' />
                </a>
            </li>
            <% } else { %>
            <li>
                <a><img class="rounded-circle tooltipped" data-position="bottom" data-tooltip="<%- user.tag %>" href="#"
                        style="max-width: 48px;max-height: 48px;" src="<%= user.avatarURL %>" />
                </a>
            </li>
            <li>
                <a href="/oauth/logout" class="btn hoverable waves-effect blue">
                    Logout <i class="material-icons right">exit_to_app</i>
                </a>
            </li>
            <% } %>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile" style="z-index: 2001;">
    <li><a href="/">Home</a></li>
    <% if (user) { %>
    <li><a href="/dashboard">Dashboard</a></li>
    <% } %>
    <li><a href="/commands">Commands</a></li>
    <li><a href="/coming-soon">Voting</a></li>
    <li><a href="/coming-soon">Wiki</a></li>
    <% if (!user) { %>
    <li class="divider"></li>
    <li>
        <a href="/oauth/login" class="waves-effect waves-light">Login with Discord <img
                style="max-width: 1.3rem; height: 1.3rem;" src='/public/img/discord_logo_black.svg' />
        </a>
    </li>
    <% } else { %>
    <li>
        <a href="#"><img class="rounded-circle" style="max-width: 32px;max-height: 32px;" src="<%= user.avatarURL %>" />
            <%- user.tag %>
        </a>
    </li>
    <li class="divider"></li>
    <li><a class="black-text" href="/oauth/logout">Logout<i class="material-icons right">exit_to_app</i></a>
    </li>
    <% } %>
</ul>
<script>
    $(document).ready(() => {
        M.AutoInit();
    });
</script>